body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.genre {
    width: 300px;
}


.form-item {
    margin-right: 1.8rem;
}


#album-list {
    display: flex;
    flex-wrap: wrap;
}